.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar button.navbar-toggler {
  border: none;
  padding-right: 0;
}

.navbar-brand {
  user-select: none;
}

.overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-content .modal-header {
  padding-bottom: 0;
}

.modal-content .form-control:focus {
  box-shadow: none;
}

button#alert-button:focus {
  outline: 0;
}

.custom-tooltip {
  z-index: 1070;
}

.tooltip-content {
  padding: 0.5rem;
  max-width: 35vh;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  color: white;
  background-color: #323232;
}

button.tag-bar {
  box-shadow: 0 0 2px 0 black;
}
