.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar button.navbar-toggler {
  border: none;
  padding-right: 0;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
