div .note-card {
  background-color: #f8f9fa;
  cursor: auto;
}

.note-card .card-header {
  background-color: transparent;
}

.note-card .card-footer {
  background-color: transparent;
}

.scrollbar {
  max-height: 40vh;
}

.content-expanded {
  max-height: 40vh;
  margin-right: 1rem;
}

.content-collapsed {
  user-select: none;
  max-height: 25vh;
  margin-right: 1rem;
  overflow: hidden;
}

.timestamp {
  font-size: '0.95rem';
}
