div .note-card {
  cursor: pointer;
}

div .note-card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2) !important;
}

.placeholder-dark::placeholder {
  color: #333 !important;
}

.placeholder-light::placeholder {
  color: #ccc !important;
}

.note-card .card-header {
  background-color: transparent;
}

.note-card .card-footer {
  border: none;
  background-color: transparent;
}

.card-title.h5 {
  font-size: 1.1rem;
}

.content {
  user-select: none;
  max-height: 40vh;
  margin-right: 1rem;
  white-space: pre-line;
  overflow: hidden;
}

.timestamp {
  font-size: 0.8rem;
}

.list-group {
  padding-top: 1rem;
}

.list-group .list-group-item {
  padding: 0.75rem 0;
  border: none;
}
