div .note-card {
  cursor: auto;
}

.close-dark .close {
  color: #333;
}

.close-light .close {
  color: #fff;
}

.close-dark .close:hover {
  color: #000;
  outline: none;
}

.close-light .close:hover {
  color: #ccc;
  outline: none;
}

.note-card .card-header {
  background-color: transparent;
}

.note-card .card-footer {
  background-color: transparent;
}

.scrollbar {
  max-height: 40vh;
}

.content-expanded {
  max-height: 40vh;
  margin-right: 1rem;
}

.content-collapsed {
  user-select: none;
  max-height: 25vh;
  margin-right: 1rem;
  overflow: hidden;
}

.timestamp {
  font-size: '0.95rem';
}
